.todoh1 {
  text-align: center;
  text-size-adjust: 20;
}

.todoDiv {
  text-align: center;
  text-size-adjust: 60;
}

.todoli {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: large;
}

.todoUl {
  text-align: center;
}
